body {
    justify-content: space-around;
}

input {
    text-align: center;
    height: 5vh;
}

#blinder {
    height: 2px;
    overflow: hidden;
    position: relative;

    display: flex;
    justify-content: center;
}

#blinder > span {
    position: absolute;
    font-weight: bolder;
    font-size: 72px;
    animation: scan 1.5s infinite linear;
}

@keyframes scan {
    from {top: 100%}
    to {top: -1em}
}